* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  color: #5e5e5e;
}

:root {
  --bg-color-principal: #333333;
  --color-principal: #fff;
  --shadow-principal: #6b6a6a;
  --shadow-second: #333131;
  --color-cards: #111111;
  --bg-inputs: #333333;
  --color-inputs-text: #25f2bf;
  --change-color-btn: #06c46b;
  --change-color-border-btn: #0dcc69cd;
  --change-color-bg-btn: #410cde;
  --input-color-search: #4d17e2;
  --input-color-search-focus: #936dfa;

  --abilities-bar-length: 0%;
  --color-abilities-bar: rgb(21, 177, 0);
}

.App {
  background-color: azure;
}

.pokemons-container {
  padding: 60px 0;
}

#poke-master {
  width: 36%;
}

.login {
  background-image: url('../src/assets/images/main-floor.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  z-index: 1;
}

.welcome-trainer {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.welcome-trainer h2 {
  position: absolute;
  margin-left: -300px;
  text-align: left;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.page__form--input{
  /* width: 50%; */
  padding: .9rem;
  border-radius: 2rem;
  border: none;
  background-color: rgb(233, 233, 233);
  /* box-shadow: 0 0 10px var(--shadow-second); */
  font-size: 19px;
  outline: none;
  font-weight: bold;
  margin: 0 auto;
}

.page__search--input {
    /* width: 50%; */
    position: relative;
    padding: 0.9rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(233, 233, 233);
    /* box-shadow: 0 0 10px var(--shadow-second); */
    font-size: 19px;
    outline: none;
    font-weight: bold;
    margin: 0 auto;
}

.page__form--input:focus{
  outline: 2px solid #D63728;
}

.page__search--input:focus{
  outline: 2px solid #D63728;
}

.login-container {
  display: flex;
  margin: 15px auto;
  position: relative;
  align-items: center;
}

.search-container {
  display: flex;
  margin: 15px auto;
  position: relative;
  align-items: center;
}

.button-start {
  position: absolute;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  margin: 0;
  border: none;
  right: -1px;
  background-color: #D63728;
  font-weight: bold;
}

.button-search {
  position: absolute;
  right: -1px;
  color: #fff;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  background-color: #D63728;
  font-weight: bold;
}

.fa-right-to-bracket {
  color: #fff;
}

.fa-magnifying-glass {
  color: #fff;
}

/* Tarjetas pokemons */

.pokemons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: azure;
}

.pokemon-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 30px auto;
}

.pokemon-cards {
    width: 19em;
    border-radius: 9px;
    background-color: #1e0024;
    padding: 12px;
}

.pokemon-data img {
  width: 12em;
  height: 12em;
}

.principal-pokeinfo {
  display: flex;
  margin: 15px 0;
}

.principal-stats {
  width: 100%;
}

.values {
  color: #5B6263;
  font-size: 18px;
  border-right: 1px solid #D0D0D0;
}

.stats {
  font-size: 14px;
}

.back-white {
  background-color: #fff;
  height: 280px;
  margin-top: -60px;
  border-radius: 25px 25px 6px 6px;
}
.back-white h2 {
  padding-top: 60px;
}

.abilities__item--container {
  display: flex;
}

/* Estilos para botones de paginación */

.pagination__container {
    width: 50%;
    margin: 0 auto;
}

.pagination___select {
  margin-bottom: 30px;
}

.selected {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 3px;
  border: none;
  font-weight: 700;
  font-size: 15px;
}

.selected:hover {
  border: 2px solid #D63728;
  background-color:rgb(252, 241, 241);
}

.selected:focus {
  border: 2px solid #D63728;
  background-color:rgb(252, 241, 241);
}

.select-pokemon {
  font-family: 'Poppins', sans-serif;
  width: 60%;
  height: 52px;
  border-radius: 4rem;
  padding-left: 1.4rem;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #e9e9e9;
  transition: 1s;
  border-right: 18px solid transparent;
}

.select-pokemon::-webkit-scrollbar {
  width: 12px;
}

.select-pokemon::-webkit-scrollbar-thumb {
  background-color: #D63728;
  border-radius: 10rem;
}



@media (max-width: 1320px) {
  .pokemon-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 970px) {
  .pokemon-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .pokemon-cards-container {
    grid-template-columns: 1fr;
  }
}